# `Assignment` WEBSCRAPING - 3

## Problem 1

In [512]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import time

def most_viewed_videos_wiki(url):

    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    driver.get(url)

    driver.find_element_by_xpath("//b").click()

    time.sleep(3)

    records = []
    for row in driver.find_elements_by_xpath("(//table[@class='wikitable sortable jquery-tablesorter'])[1]//tr")[1:-1]:
        temp = ''
        for element in row.find_elements_by_xpath(".//td"):        
            temp += element.text + '|'
        records.append(temp.split('|')[:-2])

    df = pd.DataFrame(records,columns=['rank','video_name','artist','views(M)','date_uploaded'])
    
    arranged_cols = ['rank','video_name','artist','date_uploaded','views(M)']
    
    df.video_name = df.video_name.apply(lambda x:x[:-4].strip('"'))
    df = df[arranged_cols]

    return df


most_viewed_videos_wiki("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

,rank,video_name,artist,date_uploaded,views(M)
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",7.39
1,2.,Despacito,Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.09
2,3.,Shape of You,Ed Sheeran,"January 30, 2017",5.10
3,4.,See You Again,Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.85
4,5.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.38
5,6.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",4.37
6,7.,Uptown Funk,Mark Ronson featuring Bruno Mars,"November 19, 2014",4.03
7,8.,Gangnam Style,Psy,"July 15, 2012",3.88
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",3.66
9,10.,Sorry,Justin Bieber,"October 22, 2015",3.37
10,11.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",3.34
11,12.,Sugar,Maroon 5,"January 14, 2015",3.34
12,13.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",3.30
13,14.,Roar,Katy Perry,"September 5, 2013",3.22
14,15.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.13
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.13
16,17.,Shake It Off,Taylor Swift,"August 18, 2014",2.99
17,18.,Dame Tu Cosita,El Chombo featuring Cutty Ranks,"April 5, 2018",2.94
18,19.,Bailando,Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.94
19,20.,Lean On,Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.93
20,21.,Faded,Alan Walker,"December 3, 2015",2.92
21,22.,Dark Horse,Katy Perry featuring Juicy J,"February 20, 2014",2.92
22,23.,Girls Like You,Maroon 5 featuring Cardi B,"May 31, 2018",2.91
23,24.,Let Her Go,Passenger,"July 25, 2012",2.85
24,25.,Mi Gente,J Balvin and Willy William,"June 29, 2017",2.82
25,26.,Hello,Adele,"October 22, 2015",2.75
26,27.,Blank Space,Taylor Swift,"November 10, 2014",2.68
27,28.,Waka Waka (This Time for Africa),Shakira featuring Freshlyground,"June 4, 2010",2.66
28,29.,Perfect,Ed Sheeran,"November 9, 2017",2.65
29,30.,Chantaje,Shakira featuring Maluma,"November 18, 2016",2.60

## Problem 2

In [158]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.action_chains import ActionChains

import time


def india_fixtures(url):

    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")


    driver.get(url)
    
    tab_hover = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")

    ActionChains(driver).move_to_element(tab_hover).perform()

    driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()
    
    time.sleep(2)

    title_l,series_l,place_l,date_l,time_l = [],[],[],[],[]

    for date in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):
        date_l.append(' '.join(date.text.replace('\n',' ').split(' ',3)[:-1]))
        time_l.append(date.text.replace('\n',' ').split(' ',3)[-1])
    for title in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
        title_l.append(title.text)
    for series in driver.find_elements_by_xpath("//div[@class='fixture__teams']"):
        series_l.append(series.text.replace('\n',' '))
    for place in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
        place_l.append(place.text)


    df = pd.DataFrame(list(zip(title_l,series_l,place_l,date_l,time_l)),columns=['title','series','place','date','time'])

    return df

india_fixtures('https://www.bcci.tv/')

,title,series,place,date,time
0,1st Test,AUSTRALIA v INDIA,"Adelaide Oval, Adelaide",Thursday 17 DECEMBER,09:30 IST
1,2nd Test,AUSTRALIA v INDIA,"Melbourne Cricket Ground, Melbourne",Saturday 26 DECEMBER,05:00 IST
2,3rd Test,AUSTRALIA v INDIA,"Sydney Cricket Ground, Sydney",Thursday 07 JANUARY,05:00 IST
3,4th Test,AUSTRALIA v INDIA,"Brisbane Cricket Ground, Brisbane",Friday 15 JANUARY,05:30 IST
4,1st Test,ENGLAND v INDIA,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
5,2nd Test,ENGLAND v INDIA,"Lord's, London",Thursday 12 AUGUST,15:30 IST
6,3rd Test,ENGLAND v INDIA,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
7,4th Test,ENGLAND v INDIA,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
8,5th Test,ENGLAND v INDIA,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

## Problem 3

In [173]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.action_chains import ActionChains

import time


def guru_sel_exc_handling(url):
    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")


    driver.get(url)

    driver.find_element_by_xpath("//a[@title='Selenium']").click()

    driver.find_element_by_xpath("//a[contains(@title,'Selenium Exception Handling')]").click()

    col_names,expn_l,des_l = [],[],[]

    for n,elements in enumerate(driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/*/td")):

        if n%2 == 0:
            if n == 0:
                col_names.append(elements.text)
            else:
                expn_l.append(elements.text)

        if n%2 == 1:
            if n == 1:
                col_names.append(elements.text)
            else:
                des_l.append(elements.text)

    df = pd.DataFrame(list(zip(expn_l,des_l)),columns=col_names) 

    return df

guru_sel_exc_handling("https://www.guru99.com/")

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Problem 4:

In [107]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException

import time

def statewise_gdp(url):

    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    driver.get(url)
    
    tab_hover = driver.find_elements_by_xpath("//button[@class='dropbtn']")[1]

    ActionChains(driver).move_to_element(tab_hover).perform()
    
    time.sleep(2)

    driver.find_elements_by_xpath("//div[@class='dropdown-content']")[1].click()
    

    driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/*/a").click()

    rows = driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr")

    records = []
    for row in rows:
        temp = ''
        for elements in row.find_elements_by_xpath(".//td"):
            temp += elements.text.replace(',','') + ','
        temp = temp[:-1]
        records.append(temp.split(','))

    df = pd.DataFrame(records,columns=['Rank','State','GSDP(18-19)','GSDP(17-18)','Share','GPD(billion)','.','.']).drop('.',axis=1)

    return df

statewise_gdp("http://statisticstimes.com/")

,Rank,State,GSDP(18-19),GSDP(17-18),Share,GPD(billion)
0,1,Maharashtra,-,2411600,14.11%,374.196
1,2,Tamil Nadu,1664159,1461841,8.55%,226.827
2,3,Uttar Pradesh,1542432,1376324,8.05%,213.558
3,4,Karnataka,1535224,1350257,7.90%,209.513
4,5,Gujarat,-,1314680,7.69%,203.993
5,6,West Bengal,1177586,999585,5.85%,155.101
6,7,Rajasthan,929124,835558,4.89%,129.650
7,8,Andhra Pradesh,933402,809547,4.74%,125.614
8,9,Telangana,865688,753811,4.41%,116.965
9,10,Madhya Pradesh,809327,728242,4.26%,112.998
10,11,Kerala,-,700532,4.10%,108.698
11,12,Delhi,779652,690098,4.04%,107.079
12,13,Haryana,707126,626054,3.66%,97.142
13,14,Bihar,557490,484740,2.84%,75.215
14,15,Punjab,521861,479141,2.80%,74.346
15,16,Odisha,485376,436374,2.55%,67.710
16,17,Assam,-,288494,1.69%,44.764
17,18,Chhattisgarh,311660,284194,1.66%,44.097
18,19,Jharkhand,307581,276243,1.62%,42.863
19,20,Uttarakhand,245895,222836,1.30%,34.576
20,21,Himachal Pradesh,153181,140613,0.82%,21.818
21,22,Jammu & Kashmir,-,138488,0.81%,21.489
22,23,Goa,77172,70493,0.41%,10.938
23,24,Tripura,-,46133,0.27%,7.158
24,25,Chandigarh,-,38806,0.23%,6.021
25,26,Puducherry,36656,32962,0.19%,5.115
26,27,Meghalaya,-,30790,0.18%,4.778
27,28,Nagaland,-,24281,0.14%,3.768
28,29,Manipur,-,23968,0.14%,3.719
29,30,Sikkim,26786,23495,0.14%,3.646
30,31,Arunachal Pradesh,-,22045,0.13%,3.421
31,32,Mizoram,-,19457,0.11%,3.019
32,33,Andaman & Nicobar Islands,-,7871,0.05%,1.221

## Problem 5

In [219]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException

def trending_git(url):
    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    title_l,des_l,con_count_l,lang_l = [],[],[],[]
    
    driver.get(url)
    
    time.sleep(2)
    
    driver.find_elements_by_xpath("//summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']")[1].click()
        
    driver.find_element_by_xpath("//a[contains(@data-ga-click,'Trending')]").click()
    
    
    for block in driver.find_elements_by_xpath("//article[@class='Box-row']"):
        title_l.append(block.find_element_by_xpath(".//h1[@class='h3 lh-condensed']").text)
        des_l.append(block.find_element_by_xpath(".//p[@class='col-9 text-gray my-1 pr-4']").text)
        con_count_l.append(block.find_elements_by_xpath(".//a[@class='muted-link d-inline-block mr-3']")[1].text)
        try:
            lang_l.append(block.find_element_by_xpath(".//span[@itemprop='programmingLanguage']").text)
        except NoSuchElementException:
            lang_l.append('NA')    
        
    df = pd.DataFrame(list(zip(title_l,des_l,con_count_l,lang_l)),columns=['title','description','countributors_count','language'])
    
    return df

trending_git("https://github.com/")

,title,description,countributors_count,language
0,beurtschipper / Depix,Recovers passwords from pixelized screenshots,405,Python
1,PhilJay / MPAndroidChart,A powerful Android chart view / graph view lib...,"8,208",Java
2,magma / magma,Platform for building access networks and modu...,239,Go
3,fastlane / fastlane,The easiest way to automate building and relea...,"4,744",Ruby
4,onnx / onnx-tensorrt,ONNX-TensorRT: TensorRT backend for ONNX,298,C++
5,demisto / content,Demisto is now Cortex XSOAR. Automate and orch...,531,Python
6,input-output-hk / cardano-node,The core component that is used to participate...,126,Haskell
7,catchorg / Catch2,"A modern, C++-native, header-only, test framew...","2,096",C++
8,tfutils / tfenv,Terraform version manager,188,Shell
9,go-yaml / yaml,YAML support for the Go language.,741,Go
10,Tencent / rapidjson,A fast JSON parser/generator for C++ with both...,"2,732",C++
11,cloudera / hue,Hue Editor: Open source SQL Query Assistant fo...,"1,700",Python
12,weaveworks / kured,Kubernetes Reboot Daemon,99,Go
13,vmware-tanzu / velero,Backup and migrate Kubernetes applications and...,741,Go
14,amzn / selling-partner-api-docs,This repository contains documentation for dev...,82,NA
15,jenssegers / laravel-mongodb,A MongoDB based Eloquent model and Query build...,"1,206",PHP
16,nlohmann / json,JSON for Modern C++,"3,854",C++
17,terraform-google-modules / terraform-google-ku...,A Terraform module for configuring GKE clusters.,371,HCL
18,AFLplusplus / AFLplusplus,The fuzzer afl++ is afl with community patches...,242,C
19,flot / flot,Attractive JavaScript charts for jQuery,"1,587",JavaScript
20,thanos-io / thanos,Highly available Prometheus setup with long te...,"1,009",Go
21,benmosher / eslint-plugin-import,ESLint plugin with rules that help validate pr...,960,JavaScript
22,cloudwu / skynet,A lightweight online game framework,"3,505",C
23,carrierwaveuploader / carrierwave,"Classier solution for file uploads for Rails, ...","1,557",Ruby
24,react-native-mapbox-gl / maps,A Mapbox GL react native module for creating c...,375,JavaScript

## Problem 6

In [180]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException

def hot_100_bb(url):
    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    song_l,artist_l,last_week_l,peak_l,wks_on_chrts_l = [],[],[],[],[]
    
    driver.get(url)
    
    time.sleep(2)
        
    driver.find_elements_by_xpath("//a[@class='header__subnav__link text--uppercase font--semi-bold']")[2].click()
    
    for song in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
        song_l.append(song.text)
        
    for artist in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
        artist_l.append(artist.text)
        
    for last_week in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
        last_week_l.append(last_week.text)
        
    for peak in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
        peak_l.append(peak.text)
        
    for wks_on_chrt in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
        wks_on_chrts_l.append(wks_on_chrt.text)
        
    
    df = pd.DataFrame(list(zip(song_l,artist_l,last_week_l,peak_l,wks_on_chrts_l)),columns=['song_title','artist','last_week','peak','weeks_on_charts'])
    
    return df

hot_100_bb("https://www.billboard.com/")

,song_title,artist,last_week,peak,weeks_on_charts
0,Mood,24kGoldn Featuring iann dior,2,1,17
1,All I Want For Christmas Is You,Mariah Carey,14,1,40
2,Positions,Ariana Grande,4,1,6
3,Rockin' Around The Christmas Tree,Brenda Lee,21,2,35
4,Dakiti,Bad Bunny & Jhay Cortez,15,5,5
...,...,...,...,...,...
95,Back To The Streets,Saweetie Featuring Jhene Aiko,85,76,3
96,Martin & Gina,Polo G,89,61,18
97,Hole In The Bottle,Kelsea Ballerini,87,72,8
98,So Done,The Kid LAROI,100,59,6
99,Bichota,Karol G,97,97,2

## Problem 7

In [252]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

import time

def data_scientist_scrapes(url):

    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    driver.get(url)

    driver.find_element_by_id('qsb-keyword-sugg').send_keys('Data Science')

    driver.find_element_by_class_name('btn').click()
    
    time.sleep(2)
    
    # scraping the data:

    job_titles, job_company = [],[]

    job_location,job_skills  = [],[]

    for title in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        job_titles.append(title.text)

    for company_name in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        job_company.append(company_name.text)
        
    for skills in driver.find_elements_by_xpath("//ul[@class='tags has-description']"):
        temp = skills.text
        job_skills.append(temp.replace('\n','|'))     
        
    for i,value in enumerate(driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")):
        if i%3 == 2:
            job_location.append(value.text)
    
    df = pd.DataFrame({'job_title':job_titles,'job_company':job_company,'job_locations':job_location,'job_skills':job_skills})

    return df

data_scientist_scrapes('https://www.naukri.com/')

,job_title,job_company,job_locations,job_skills
0,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,Bengaluru(Whitefield),Data Science|SAS SQL|Analytics|Algorithms|Scra...
1,Business Analyst - Data Science,Sitel India Limited.,Mumbai,Usage|Business Analyst|data science|Manager Te...
2,"Specialist, Data Science",Invesco,Hyderabad,Data Science|R|Power Bi|Analytical Skills|Data...
3,Data Science Engineer,Hewlett Packard Enterprise,Bengaluru,Product management|Career development|Automati...
4,Hiring Data Science Freshers(only Females cand...,LIQUIDHUB ANALYTICS PRIVATE LIMITED,Delhi NCR,Data Science
5,"Internship in Data Science, AI and Machine Lea...",ICR INDIA CERTIFICATIONS PRIVATE LIMITED,"Mumbai, Bengaluru, Hyderabad",Data Science|fresher|any graduate|Online|Inter...
6,"Internship in Data Science, AI and Machine Lea...",ICR INDIA CERTIFICATIONS PRIVATE LIMITED,"Mumbai, Bengaluru, Hyderabad",Data Science|fresher|any graduate|Online|Inter...
7,"Internship in Data Science, AI and Machine Lea...",ICR INDIA CERTIFICATIONS PRIVATE LIMITED,"Mumbai, Bengaluru, Hyderabad",Data Science|fresher|any graduate|Online|Inter...
8,Data Science Engineer - SMART MFG & AI,Micron Semiconductor Asia Pte Ltd,Hyderabad,R|Data Analysis|SQL Server|Tableau|Sap Hana|SS...
9,"Internship in Data Science, AI and Machine Lea...",ICR INDIA CERTIFICATIONS PRIVATE LIMITED,"Mumbai, Bengaluru, Hyderabad",Data Science|fresher|any graduate|Online|Inter...
10,Data Science Advisor,Dell International Services IndiaPrivate Limited,Bengaluru,Pytorch|Tensorflow|Object Detection|NLP|Artifi...
11,NLP Engineer/ Data Scientist/ Data science,A Big Digital Group,Mumbai,Natural Language Processing|Machine Learning|D...
12,Data Science,Capgemini Technology Services India Limited,Bengaluru,cloudera|data science|spark|Opencv|Analytical|...
13,Tech Prog Mgr I - Data Science 1,Sitel India Limited.,Hyderabad,Unix|C++|Data analysis|data science|Linux|SAS|...
14,Internship Opportunities - Data Science(IIT/NI...,Clickscient India Private Limited,Chennai,Data Science|NLP|Computer Vision
15,Freshers/Internship/Trainee - Data Science/ Ma...,IIBM,"Delhi NCR, Mumbai, Bengaluru",Data Science|r|Artificial Intelligence|Natural...
16,Software Engineer ( Data Sciences),Myntra Designs Pvt. Ltd.,Bengaluru,Java|SQL|Azure Data Warehouse|Hbase|Cassandra|...
17,Senior Software Engineer (data sciences),Myntra Designs Pvt. Ltd.,Bengaluru,Data Science|Aerospike|Design Patterns|Cassand...
18,Data Science,Capgemini Technology Services India Limited,Hyderabad,cloudera|data science|spark|Opencv|Analytical|...
19,Data Science/ Machine Learning / AI Professionals,www.iibminternships.com,"Delhi NCR, Mumbai, Bengaluru",Data Science|r|Python|Business Analysis

## Problem 8

In [254]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

import time


def highest_selling_novel(url):
    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    driver.get(url)

    table_block = driver.find_element_by_xpath("//table[@class='in-article sortable']/tbody")

    records = []
    for row in table_block.find_elements_by_xpath(".//tr"):
        temp = ''
        for element in row.find_elements_by_xpath(".//td"):
            temp += element.text + '|'
        records.append(temp.split('|')[:-1])


    df = pd.DataFrame(records,columns=['.','book','author','vol_sold','publisher','genre']).drop('.',axis=1)

    return df

highest_selling_novel("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

,book,author,vol_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Problem 9

In [271]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

import time


def most_watched_shows_imdb(url):
    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    # url = 'https://www.imdb.com/list/ls095964455/'

    title_l,year_l,runtime_l,genre_l,votes_l,rating_l = [],[],[],[],[],[]

    driver.get(url)

    for title in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
        title_l.append(title.text)
    for year in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
        year_l.append(year.text)
    for rating in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']"):
        rating_l.append(rating.text)
    for runtime in driver.find_elements_by_xpath("//span[@class='runtime']"):
        runtime_l.append(runtime.text)
    for genre in driver.find_elements_by_xpath("//span[@class='genre']"):
        genre_l.append(genre.text)
    for votes in driver.find_elements_by_xpath("//span[@name='nv']"):
        votes_l.append(votes.text)


    df = pd.DataFrame(list(zip(title_l,year_l,rating_l,genre_l,runtime_l,votes_l)),columns=['title','year_span','rating','genres','runtime','votes'])

    return df


most_watched_shows_imdb("https://www.imdb.com/list/ls095964455/")

,title,year_span,rating,genres,runtime,votes
0,Game of Thrones,(2011–2019),9.3,"Action, Adventure, Drama",57 min,"1,736,338"
1,Stranger Things,(2016– ),8.8,"Drama, Fantasy, Horror",51 min,"795,222"
2,The Walking Dead,(2010– ),8.2,"Drama, Horror, Thriller",44 min,"841,882"
3,13 Reasons Why,(2017–2020),7.6,"Drama, Mystery, Thriller",60 min,"252,092"
4,The 100,(2014–2020),7.6,"Drama, Mystery, Sci-Fi",43 min,"211,200"
...,...,...,...,...,...,...
95,Reign,(2013–2017),7.5,"Drama, Fantasy",42 min,"42,880"
96,A Series of Unfortunate Events,(2017–2019),7.8,"Adventure, Comedy, Drama",50 min,"53,036"
97,Criminal Minds,(2005–2020),8.1,"Crime, Drama, Mystery",42 min,"157,307"
98,Scream: The TV Series,(2015– ),7.2,"Crime, Drama, Horror",45 min,"33,636"
99,The Haunting of Hill House,(2018),8.6,"Drama, Horror, Mystery",572 min,"175,986"

## Problem 10

In [429]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

import time


def uci_dataset_details(url):
    opts = Options()
    driver = webdriver.Chrome(r"C:\Users\Admin\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe",options=opts)

    opts.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36")

    driver.get(url)
    
    driver.find_element_by_xpath("//b").click()
    
    time.sleep(3)

    records = []
    for n,row in enumerate(driver.find_elements_by_xpath("//table[@border='1']//tr")[1:]):
        temp = ''
        if n%2 == 0:
            for element in row.find_elements_by_xpath(".//td/p[@class='normal']"):
                temp += element.text + '|'
            records.append(temp.split('|')[:-1])

    
    df = pd.DataFrame(records,columns=['name','data_type','default_task','attribute_types','instances','attributes','year'])

    return df
uci_dataset_details("https://archive.ics.uci.edu/")

,name,data_type,default_task,attribute_types,instances,attributes,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020

## <!-- EOF --!>